.Header {
  display: flex;
  flex-direction: row;
}

.Header .main-title,
.Header .main-title a,
.Header .applicants-name {
  flex: 1;
  margin: 0;
  color: #D42026;
  font-weight: 300;
  font-size: 27px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 120%;
}

.Header .applicants-name {
  text-align: right;
}

.Header .main-title b {
  font-weight: 900;
}

.Header .line {
  display: block;
  width: 54px;
  height: 4px;
  background-color: #D42026;
}

@media only screen and (max-width: 768px) {
  .Header {
    padding: 0 42px;
  }
  .Header .main-title a {
    font-size: 16px;
  }
  .Header .applicants-name {
    display: none;
  }  
}