.SearchBar label {
  display: block;
  color: #D42026;
  font-size: 16px;
  line-height: 120%;
}

.SearchBar input {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 31px;
  border: 1px solid #A5A5A5;
  border-radius: 5px;
  padding: 0 5px;
}

@media only screen and (max-width: 768px) {
  .SearchBar {
    padding: 0 42px;
  }
}