.App {
  padding: 0 42px;
  min-height: 100vh;
  overflow: hidden;
  border-bottom: 12px solid #D42026;
}

.App .Header {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .App {
    padding: 0;
  }
  .App .Header {
    margin-top: 12px;
  }
}